{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'my-login' %}" autocomplete="off">
        {% csrf_token %}
        
        <h3>Login Page</h3>
        
        <label for="id_username">Username:</label>
        {{ loginform.username }}
        <br>

        <label for="id_password">Password:</label>
        {{ loginform.password }}
        <br>

        <input type="submit" value="Login"/>
    </form>
</body>
</html>
